body {
	background-color:blue;
	
}

.nav li {
	background: silver;
	border-radius:5px;
	border:2px solid silver;
	font-size:20px;
	color:blue;
	display:inline;
}

.main{
	background-color:siver;
	border-left:50px;
	border-right:50px;
	padding-bottom:500px;
	margin-left:50px;
	margin-right:50px;
}

h1 {
	color:#B22222;
}

h3{
	color:#228B22;
}
